<% provide(:title, 'OperationJoseCanseco') %>

<div class="jumbotron">
  <div class="container">
    <h1> Get Going With GroceryWrangler! </h1>
    <p> With OperationJoseCanseco you have the ability to easily track 
      your grocery purchasing habits over time.
      Simply create a receipt and add the items you bought to the receipt. 
      If you don't see an item you can easily create it!
    </p>
    <p> 
      <a class="btn btn-primary btn-lg" role="button"> Sign up now! &raquo; </a> 
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Track purchases</h2>
      <p> 
	<ul>
	  <li>
	    Check what price you've previously purchased items for and compare it with
	    the price the stores are currently selling it for.
	  </li>
	  
	  <li>
	    See how healthy what you are buying is with the nutritional information we
	    provide for you.
	  </li>
	</ul>
      </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>View seasonal trends</h2>
      <p> Under construction. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Create shopping lists</h2>
      <p> Under construction. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>
