<% if @errors && @errors.any? %>
  <div id="error_explanation">
    <ul>
      <h3> The form contains <%= pluralize(@errors.count, "error") %>. </h3>
      <% @errors.full_messages.each do |msg| %>
	<li> <%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
