@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600);

/* Colors */
$cherryred: rgba(224, 39, 39, 1);
$defaultdangerred: #C3211B;

$theblackdeath: rgba(0, 0, 0, 0.78);

$sunburstorange: #FF8900;

$mintygreen: rgba(64, 204, 75, 0.86);
$transmintygreen: rgba(64, 204, 75, 0.52);
$lighttransgreen: rgba(23, 168, 33, 0.12);
$hovergreen: rgba(84, 225, 84, 0.86);

$dirtybrown: rgba(194, 160, 123, 1);

$lightgreyskyblue: rgba(196, 219, 219, 0.81);
$shoppingcartgrey: rgba(222, 228, 223, 1);

$transparency: rgba(0, 0, 0, 0);

body {
    background-color: $lightgreyskyblue;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
}

a, input, button, p, span {
    font-family: 'Open Sans', sans-serif;
}

/* Links */
a {
    color: white;
}

a:hover {
    text-decoration: none;
}

/* Tables */
thead {
    font-size: 18px;
}

/* Header */
.dropdown-toggle {
    font-size: $font-size-h4;
}

.dropdown-menu {
    background-color: white;
}

.dropdown-menu > li {
    border-bottom: 1px solid $shoppingcartgrey;
}

.dropdown-menu > li:hover {
    background-color: $shoppingcartgrey;
}

.dropdown-menu > li:last-child {
    border-bottom: none;
}

.josecanseco-navbar-btn {
    padding: 0px 8px;
}

.josecanseco-navbar-form {
    padding: 0px;
}

.josecanseco-navbar-fancy-text {
    color: rgba(255, 255, 255, 0.79);
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: $font-size-h3;
}

.josecanseco-navbar-text {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: $font-size-h4;
}

/* Miscellaneous class */

.glyphicon-plus {
    padding-right: 0.5em;
}

.no-top-margin {
    margin-top: 0px;
}

.receipts-container{
    background-color: #EEE;
    border-radius: 10px;
    -webkit-box-shadow: 7px 8px 6px -8px rgba(0,0,0,1);
    -moz-box-shadow: 7px 8px 6px -8px rgba(0,0,0,1);
    box-shadow: 7px 8px 6px -8px rgba(0,0,0,1);
    padding: 1.5em 2.5em 2.5em 2.5em;
    overflow: hidden;
}

/* Receipt create page */
#receipt-create {
    text-align: left;
    width: 50%;
}

#receipt_store_id {
    margin-top: 2em;
    margin-right: 1em;
}

/* Receipt show page*/
#add-item-btn {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 50%;
}

#receipt-jumbotron {
    padding: 0px;
    border: 2px solid #fff;
}

#store-name-text{
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: 50px;
}

/* Item create page */
#item-create {
    text-align: left;
    width: 60%;
}

#create-item-submit {
    margin-top: 2em;
}

#item-label {
    margin-left: 1em;
}

/* Signup page*/
#signup-info {
    width: 100%;
    border-radius: 8px;
    color: white;
    padding: 1em;
    padding-left: 1.5em;
    height: 350px;
    margin-right: 2em;
    font-size: 16pt;
    background-color: $dirtybrown;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

#signup-form {
    width: 100%;
    text-align: left;
}

#signup-submit {
    margin-top: 2em;
}

/* Bootstrap overrides*/
.btn-default {
    background-color: $dirtybrown;
    color: white;
}

.btn-primary {
    background-color: $mintygreen; 
    border-color: $mintygreen;
}

.btn-danger {
    background-color: $cherryred;
    border-color: $cherryred;
}

.row  {
    text-align: center;
    margin-right: 0px;
    margin-left: 0px;
}

.form-control{
    border-radius: 9001px;
}

.border-padding {
    padding-left: 2em;
    padding-right: 2em;
}

.navbar-brand {
    color: rgba(236, 236, 237, 0.92);
    font-family: 'Lobster', Georgia, Times, serif;
    font-size: $font-size-h2;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.dropdown-toggle{
    color: rgba(236, 236, 237, 0.99);
}

/* Dropdown hovers */
.nav > li > a:hover, .nav > li > a:focus{
    background-color: $transparency;
    color: white;
}

/* Btn Hovers */
.btn:hover, .btn:focus {
    color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: $hovergreen;
    border-color: white;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active{
    background-color: $defaultdangerred;
    border-color: white;
}

/* Dropdown click */
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
    background-color: $transparency;
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.navbar-header > a:hover {
    color: black;
}

a:hover, a:focus{
    color: white;
}

.container-fluid{
    /* TODO: Change to SASS gradient style. */
    background: -moz-linear-gradient(45deg,  rgba(49,165,94,1) 0%, rgba(117,216,145,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(49,165,94,1)), color-stop(100%,rgba(117,216,145,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(49,165,94,1) 0%,rgba(117,216,145,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(49,165,94,1) 0%,rgba(117,216,145,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(49,165,94,1) 0%,rgba(117,216,145,0.8) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(49,165,94,1) 0%,rgba(117,216,145,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31a55e', endColorstr='#cc75d891',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.control-label {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.receipt-container{
    -webkit-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.25);
    background-color: $transmintygreen;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

.receipt-container h4, h5 {
    font-weight: 900;
}

.td-centered {
    vertical-align: middle;
}

/* http://stackoverflow.com/questions/796087/make-a-div-into-a-link */
.link-spanner{
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;

/* edit: fixes overlap error in IE7/8, 
   make sure you have an empty gif 
   background-image: url('empty.gif');*/
}   

/* Utility */
.vertical-centre{
    display:inline-block;
    vertical-align: middle;
    float: none;
} 

.col-centered {
    float: none;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.centered-text{
    text-align: center;
}
