<% if receipt %>
  <div class="col-md-4">
    <div class="receipt-container">
      <%= link_to receipt, :title => "Some link" do %>
        <h4>
       	  <% if receipt.store %>
       	    <%= receipt.store.name %>
       	  <% else %>
       	    Some Store
       	  <% end %>
       	</h4>
       	<h4> 
       	  <% if receipt.date_purchased %>
       	    <%= receipt.date_purchased %> 
       	  <% else %>
       	    Some Date
       	  <% end %>
       	</h4>
        <h4> $<%= receipt.total %> </h4>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="col-md-4"> </div>
<% end %>
